.input {
    width: 100%;
    padding: 10px;

    border: 2px solid gray;
    border-radius: 5px;
    outline: none;

    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
}
