.home {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__search-container {
    width: 70%;
    height: 70%;
    min-height: 400px;

    margin: auto;

    background-color: var(--tertiary-bg-color);
    color: var(--primary-font-color);
    font-weight: bold;

    border: 3px solid var(--secondary-btn-color);

    -o-border-image: linear-gradient(
        to right,
        var(--primary-btn-color),
        var(--secondary-btn-color)
    );

    border-image: linear-gradient(
        to right,
        var(--primary-btn-color),
        var(--secondary-btn-color)
    );
    border-image-slice: 1;
}
.home__title {
    text-align: center;
    margin-top: 70px;
}

.home__input-container {
    position: relative;
    width: 80%;

    margin: 80px auto 0;

    display: flex;
    justify-content: center;
}

.home__search-icon {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 7px;
}

.home__container {
    flex: 0.5;
    color: var(--primary-font-color);
}
.home__git-logo {
    width: 500px;
}
