:root {
    --primary-bg-color: #1b1c20;
    --secondary-bg-color: #232427;
    --tertiary-bg-color: #0f0f10;
    --primary-btn-color: #bd0f71;
    --secondary-btn-color: #8826d1;
    --tertiary-btn-color: #9f09ac;
    --primary-font-color: white;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.mb-20 {
    margin-bottom: 20px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
